
#dl1{
    background-color: #12263F;
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 20px 0px;
}
#dn1{
    width: 25px;
    height: 25px;
}
#dn2{
    padding-left: 5px;
    font-family: Tahoma;
    margin-top: 5px;
}
#dv1{
    display: flex;
    color: orange;
}
#dv2{
    display: flex;
    color: white;
}
.cl1{
    padding-left: 15px;
    color: #5C6D7F;
    margin-top: 10px;
}
#dn3{
    color: white;
}
#dv3{
    display: flex;
}
#dn4{
    border: 1px solid;
    border-color: #5C6D7F;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 30px;
    margin-right: 1.5px;
    color: white;
    padding-top: 8px;
}
#dn5{
    border: 1px solid;
    border-color: #5C6D7F;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
    color: white;
    padding-top: 8px;
}
#dn6{
    color: blueviolet;
    border: 1px solid;
    border-color: blueviolet;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 10px;
    width: 100px;
}
#dl2{
    background-color: #00D97E;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white    ;
    text-align: center;
}
#dln2{
    display: flex;
    justify-content: center;
}
#dn7{
    color: yellow;
    width: 49%;
    margin-top: 50px;
    font-size: 15px;
    
}
#dn8{
    color: yellow;
    width: 48.5%;
    margin-top: 5px;
    font-size: 27px;
}
#dn9{
    color: white;
    width: 47.5%;
    margin-top: 60px;
    font-size: 15px;
}
.so{
    border: 1px groove #5C6D7F;
    color: white ;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #152E4D;
    width: 20px;
}
#dns{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
#dv5{
    background-color: #152E4D;
    border: 1px groove #5C6D7F;
    border-radius: 5px;
    height: 175px;
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 15px;
}
.cl6{
    display: flex;
    margin-top: 20px;
}
.cl3{
    color: white;
    margin-left: 20px;
}
.cl4{
    color: white;
    margin-left: 110px;
}
#dn12{
    margin-left: 118px;
}
#dn13{
    margin-left: 140px;
}
#idln{
    display: flex;
    justify-content: center;
}
body{
    background-color: #12263F;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}
#ghghgh{
    background-color: aqua;
    width: 80%;
}
#divv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}