body{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
#idlv1{
    display: flex;
    flex-wrap: wrap;
}
#idl1{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img1{
   width: 50px;
   margin-top: 14px;
}
#idn2{
    font-size: 12px;
    
}
.cl1{
    margin-top: 10px;
}
#idl2{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img2{
    width: 50px;
    margin-top: 14px;
}
#idn4{
    font-size: 12px;
}
.cl2{
    margin-top: 10px;
}
#idl3{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img3{
    width: 50px;
    margin-top: 14px;
}
#idn6{
    font-size: 12px;
}
.cl3{
    margin-top: 10px;
}
#idlv2{
    display: flex;
    flex-wrap: wrap;
}
#idl4{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img4{
    width: 50px;
    margin-top: 14px;
}
#idn8{
    font-size: 12px;
}
.cl4{
    margin-top: 10px;
}
#idl5{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img5{
    width: 50px;
    margin-top: 14px;
}
#idn10{
    font-size: 12px;
}
.cl5{
    margin-top: 10px;
}
#idl6{
    background-color: #F8F8F8;
    width: 250px;
    height: 155px;
    text-align: center;
}
#img6{
    width: 50px;
    margin-top: 14px;
}
#idn12{
    font-size: 12px;
}
.cl6{
    margin-top: 10px;
}
.cll1{
    margin-left: 20px;
}
.cll2{
    margin-top: 20px;
    margin-left: 20px;
}
#idln2{
    display: flex;
}
#idn13{
    background-color: #8598CC;
    color: #BCC7E3;
    width: 120px;
    height: 25px;
    text-align: center;
    padding-top: 7px;
    margin-top: 50px;
    margin-left: 10px;
}
.cl6{
    font-size: 13.4px;
    margin-top: 60px;
    margin-left: 17px;
}
#idn21{
    display: flex;
    border: solid 2px #f1ecec;
    height: 23px;
    width: 95px;
    margin-top: 60px;
    margin-left: 190px;
    border-radius: 3px;
}
#img7{
    width: 12px;
    height: 12px;
    padding-top: 5px;
    padding-left: 3px;
}
#idn22{
    font-size: 11px;
    margin-left: 3px;
    padding-top: 5px;
}