#divtonhat{
    background-color: gray;
    width: 710px;
    height: 540px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 10px;
}
#divto{
background-color: white;
width: 700px;
border-radius: 5px;
}
#img1{
width: 20px;
background-color: orange;
}
#divid{
    background-color: white;
    padding: 10px;
}
#abcdxyz{
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
}
#divdiv{
    display: flex;
}
#divsao{
    color: yellowgreen;
}
#voucher{
    display: flex;
}
#tttd{
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
}
h1{
    width: 400px;
    padding-left: 40px;
    padding-right: 100px;
    padding-top: 10px;
    font-size: 23px;
}
#efg{
    background-color: white;
    border: solid ;
    border-color: orange;
    border-radius: 5px;
}
#tkdv{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid ;
    border-color: orange;
    border-radius: 5px;
}
#dv{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#nlvd{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: blueviolet;
    border: solid ;
    border-color: orange;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}
#mvch{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#sldh{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#dh{
    padding-left: 250px;
    background-color: orange;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#iptkdv{
    width: 600px;
}
#slnt{
    width: 170px;
    height: 22px;
}
#slpl{
    height: 22px;
    width: 440px;
    margin-left: 4px;
}
#sldv{
    height: 22px;
    width: 614px;
}
#iplvd{
    width: 580px;
    border-radius: 5px;
}
#ipmvch{
    width: 535px;
}
#fap{
    margin-left: 4px;
}
#ipsldh{
    width: 425px;
}
#giadonhang{
    margin-left: 440px
}
#sltt{
    margin-left: 5px;
}
#tttdid{
    margin-left: 10px;
    color: orange;
}
#sltd{
    margin-left: 10px;
}
#iddiv{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}