#m1{
    background-color: rgb(89, 89, 194);
}
#m2{
    background-color: black;
    color: aliceblue;
}
#m3{
background-color: rebeccapurple;
}
#m4{
background-color: white;
}
#m5{
background-color: yellow;
}
#m6{
background-color: orange;
}
#m7{
background-color: brown;
}
#m8{
background-color: pink;
}
#m9{
background-color: green;
}
#m10{
background-color: grey;
}
.c{
    font-size: 50px;
}